In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Question2

Plot the following data, where the X axis is the time periods (starting with period 21), the Y-axis shows the observed value, the upper control limit and the lower control limits.  The first seven data points are pre-intervention.   Title the chart. Create a legend that defines the name for various lines.  Make sure that the observation line has markers and the control limits have no markers.  Make portion of Upper and lower limit lines that are post intervention black dashed line.  Make portion of the control lines that are pre-intervention black straight line.  Make all upper and lower limit lines red.

In [ ]:
data = pd.read_csv('MidtermQ2.csv')

In [ ]:
print(data)

In [ ]:
data.plot(x = 'Time', y = 'Observed value', kind = 'line', marker = 'o')
plt.xlabel('Time')
plt.ylabel('Observed Value')
plt.title('Using Python to Plot', color='black', fontsize=15)
plt.hlines(y = 52.5, xmin = 21, xmax = 29, color = 'r', label = 'pre-intervention')
plt.hlines(y = 12.5, xmin = 21, xmax = 29, color = 'r')
plt.hlines(y = 52.5, xmin = 30, xmax = 38, color = 'r', linestyles = 'dashed', label = 'post-intervention')
plt.hlines(y = 12.5, xmin = 30, xmax = 38, color = 'r', linestyles = 'dashed')
plt.xticks(data['Time'],data['Time'])
plt.legend(bbox_to_anchor=(1.05,1), loc = 'upper left', borderaxespad = 0.)
plt.show()

# Question4

Given the following data, what is the probability that a patient with MI, DM, AA, and HIV will have a length of stay that exceeds the weighted average length of stay?

# 1.Data Description

In [4]:
data = pd.read_csv('MidtermQ4.csv')
print(data)

    Case 1st Diagnosis 2nd Diagnosis 3rd Diagnosis 4th Diagnosis  \
0   Type           NaN           NaN           NaN           NaN
1      1            MI           CHF            DM           NaN
2      2            MI           NaN           NaN            AA
3      3           NaN           CHF            DM            AA
4      4           NaN           CHF            DM           NaN
5      5            MI           CHF           NaN            AA
6      6            MI           CHF           NaN           NaN
7      7           NaN           CHF           NaN            AA
8      8            MI           CHF            DM            AA
9      9            MI           NaN           NaN           NaN
10    10           NaN           CHF           NaN           NaN
11    11            MI           NaN            DM           NaN
12    12           NaN           NaN            DM            AA
13    13           NaN           NaN            DM           NaN
14    14           NaN           NaN           NaN            AA
15    15           NaN           NaN           NaN           NaN
16    16            MI           NaN            DM            AA

    Length of stay  Number of Patients
0              NaN                 NaN
1             5.56               120.0
2             4.10               110.0
3             5.54               100.0
4             3.56                90.0
5             7.03                80.0
6             5.02                70.0
7             5.04                60.0
8             7.62                50.0
9             2.03                40.0
10            3.03                30.0
11            2.60                20.0
12            2.57                10.0
13            0.61                20.0
14            2.12                30.0
15            0.01                40.0
16            4.57                50.0

In [5]:
data.shape

(17, 7)

## The Data set has 7 attributes. There being:
* Case Type
* 1st Diagnosis: MI = Myocardial Infarction;
* 2nd Diagnosis: CHF = Congestive Heart Failure; 
* 3rd Diagnosis: DM=Diabetes Mellitus; 
* 4th Diagnosis: AA=Alcohol abuse
* Length of stay  
* Number of Patients

2.Data Cleaning

In [6]:
data = data.drop([0])
data.head()

,Case,1st Diagnosis,2nd Diagnosis,3rd Diagnosis,4th Diagnosis,Length of stay,Number of Patients
1,1,MI,CHF,DM,NaN,5.56,120.0
2,2,MI,NaN,NaN,AA,4.10,110.0
3,3,NaN,CHF,DM,AA,5.54,100.0
4,4,NaN,CHF,DM,NaN,3.56,90.0
5,5,MI,CHF,NaN,AA,7.03,80.0

In [7]:
data['Number of Patients']=data['Number of Patients'].astype(float)
print(data)

   Case 1st Diagnosis 2nd Diagnosis 3rd Diagnosis 4th Diagnosis  \
1     1            MI           CHF            DM           NaN
2     2            MI           NaN           NaN            AA
3     3           NaN           CHF            DM            AA
4     4           NaN           CHF            DM           NaN
5     5            MI           CHF           NaN            AA
6     6            MI           CHF           NaN           NaN
7     7           NaN           CHF           NaN            AA
8     8            MI           CHF            DM            AA
9     9            MI           NaN           NaN           NaN
10   10           NaN           CHF           NaN           NaN
11   11            MI           NaN            DM           NaN
12   12           NaN           NaN            DM            AA
13   13           NaN           NaN            DM           NaN
14   14           NaN           NaN           NaN            AA
15   15           NaN           NaN           NaN           NaN
16   16            MI           NaN            DM            AA

    Length of stay  Number of Patients
1             5.56               120.0
2             4.10               110.0
3             5.54               100.0
4             3.56                90.0
5             7.03                80.0
6             5.02                70.0
7             5.04                60.0
8             7.62                50.0
9             2.03                40.0
10            3.03                30.0
11            2.60                20.0
12            2.57                10.0
13            0.61                20.0
14            2.12                30.0
15            0.01                40.0
16            4.57                50.0

In [8]:
#Renaming columns
data=data.rename(columns={'Case':'Case Type',
                        '1st Diagnosis':'MI',
                        '2nd Diagnosis':'CHF',
                        '3rd Diagnosis':'DM',
                        '4th Diagnosis':'AA',
                        'Length of stay':'LOS',
                        'Number of Patients':'N'},)
data

   Case Type   MI  CHF   DM   AA   LOS      N
1          1   MI  CHF   DM  NaN  5.56  120.0
2          2   MI  NaN  NaN   AA  4.10  110.0
3          3  NaN  CHF   DM   AA  5.54  100.0
4          4  NaN  CHF   DM  NaN  3.56   90.0
5          5   MI  CHF  NaN   AA  7.03   80.0
6          6   MI  CHF  NaN  NaN  5.02   70.0
7          7  NaN  CHF  NaN   AA  5.04   60.0
8          8   MI  CHF   DM   AA  7.62   50.0
9          9   MI  NaN  NaN  NaN  2.03   40.0
10        10  NaN  CHF  NaN  NaN  3.03   30.0
11        11   MI  NaN   DM  NaN  2.60   20.0
12        12  NaN  NaN   DM   AA  2.57   10.0
13        13  NaN  NaN   DM  NaN  0.61   20.0
14        14  NaN  NaN  NaN   AA  2.12   30.0
15        15  NaN  NaN  NaN  NaN  0.01   40.0
16        16   MI  NaN   DM   AA  4.57   50.0

# 3.Calculate the likelihood ratio associated

In [9]:
#Cover the diagnosises data into binary formats in order to be used to display the presense of each diagnosis.
data.loc[data['MI'] == 'MI', 'MIDX']=1
data.loc[data['MI'].isnull(), 'MIDX']=0
data.loc[data['CHF'] == 'CHF', 'CHFDX']=1
data.loc[data['CHF'].isnull(), 'CHFDX']=0
data.loc[data['DM'] == 'DM', 'DMDX']=1
data.loc[data['DM'].isnull(), 'DMDX']=0
data.loc[data['AA'] == 'AA', 'AADX']=1
data.loc[data['AA'].isnull(), 'AADX']=0

#View the dataframe head
data.head()

  Case Type   MI  CHF   DM   AA   LOS      N  MIDX  CHFDX  DMDX  AADX
1         1   MI  CHF   DM  NaN  5.56  120.0   1.0    1.0   1.0   0.0
2         2   MI  NaN  NaN   AA  4.10  110.0   1.0    0.0   0.0   1.0
3         3  NaN  CHF   DM   AA  5.54  100.0   0.0    1.0   1.0   1.0
4         4  NaN  CHF   DM  NaN  3.56   90.0   0.0    1.0   1.0   0.0
5         5   MI  CHF  NaN   AA  7.03   80.0   1.0    1.0   0.0   1.0

In [10]:
#Put data ouput into dataframe
df=pd.DataFrame(data)

#Show the dataframe
df

   Case Type   MI  CHF   DM   AA   LOS      N  MIDX  CHFDX  DMDX  AADX
1          1   MI  CHF   DM  NaN  5.56  120.0   1.0    1.0   1.0   0.0
2          2   MI  NaN  NaN   AA  4.10  110.0   1.0    0.0   0.0   1.0
3          3  NaN  CHF   DM   AA  5.54  100.0   0.0    1.0   1.0   1.0
4          4  NaN  CHF   DM  NaN  3.56   90.0   0.0    1.0   1.0   0.0
5          5   MI  CHF  NaN   AA  7.03   80.0   1.0    1.0   0.0   1.0
6          6   MI  CHF  NaN  NaN  5.02   70.0   1.0    1.0   0.0   0.0
7          7  NaN  CHF  NaN   AA  5.04   60.0   0.0    1.0   0.0   1.0
8          8   MI  CHF   DM   AA  7.62   50.0   1.0    1.0   1.0   1.0
9          9   MI  NaN  NaN  NaN  2.03   40.0   1.0    0.0   0.0   0.0
10        10  NaN  CHF  NaN  NaN  3.03   30.0   0.0    1.0   0.0   0.0
11        11   MI  NaN   DM  NaN  2.60   20.0   1.0    0.0   1.0   0.0
12        12  NaN  NaN   DM   AA  2.57   10.0   0.0    0.0   1.0   1.0
13        13  NaN  NaN   DM  NaN  0.61   20.0   0.0    0.0   1.0   0.0
14        14  NaN  NaN  NaN   AA  2.12   30.0   0.0    0.0   0.0   1.0
15        15  NaN  NaN  NaN  NaN  0.01   40.0   0.0    0.0   0.0   0.0
16        16   MI  NaN   DM   AA  4.57   50.0   1.0    0.0   1.0   1.0

In [11]:
#Calculate data values 
df['losMIDX'] = df['LOS']*df['MIDX']
df['losCHFDX'] = df['LOS']*df['CHFDX']
df['losDMDX'] = df['LOS']*df['DMDX']
df['losAADX'] = df['LOS']*df['AADX']

#Calculate Control values
df['losConMI']=(1-df['MIDX'])*df['LOS']
df['losConCHF']=(1-df['CHFDX'])*df['LOS']
df['losConDM']=(1-df['DMDX'])*df['LOS']
df['losConAA']=(1-df['AADX'])*df['LOS']

#Put data ouput into dataframe
df1 = pd.DataFrame(df)
df1

,Case Type,MI,CHF,DM,AA,LOS,N,MIDX,CHFDX,DMDX,AADX,losMIDX,losCHFDX,losDMDX,losAADX,losConMI,losConCHF,losConDM,losConAA
1,1,MI,CHF,DM,NaN,5.56,120.0,1.0,1.0,1.0,0.0,5.56,5.56,5.56,0.00,0.00,0.00,0.00,5.56
2,2,MI,NaN,NaN,AA,4.10,110.0,1.0,0.0,0.0,1.0,4.10,0.00,0.00,4.10,0.00,4.10,4.10,0.00
3,3,NaN,CHF,DM,AA,5.54,100.0,0.0,1.0,1.0,1.0,0.00,5.54,5.54,5.54,5.54,0.00,0.00,0.00
4,4,NaN,CHF,DM,NaN,3.56,90.0,0.0,1.0,1.0,0.0,0.00,3.56,3.56,0.00,3.56,0.00,0.00,3.56
5,5,MI,CHF,NaN,AA,7.03,80.0,1.0,1.0,0.0,1.0,7.03,7.03,0.00,7.03,0.00,0.00,7.03,0.00
6,6,MI,CHF,NaN,NaN,5.02,70.0,1.0,1.0,0.0,0.0,5.02,5.02,0.00,0.00,0.00,0.00,5.02,5.02
7,7,NaN,CHF,NaN,AA,5.04,60.0,0.0,1.0,0.0,1.0,0.00,5.04,0.00,5.04,5.04,0.00,5.04,0.00
8,8,MI,CHF,DM,AA,7.62,50.0,1.0,1.0,1.0,1.0,7.62,7.62,7.62,7.62,0.00,0.00,0.00,0.00
9,9,MI,NaN,NaN,NaN,2.03,40.0,1.0,0.0,0.0,0.0,2.03,0.00,0.00,0.00,0.00,2.03,2.03,2.03
10,10,NaN,CHF,NaN,NaN,3.03,30.0,0.0,1.0,0.0,0.0,0.00,3.03,0.00,0.00,3.03,0.00,3.03,3.03
11,11,MI,NaN,DM,NaN,2.60,20.0,1.0,0.0,1.0,0.0,2.60,0.00,2.60,0.00,0.00,2.60,0.00,2.60
12,12,NaN,NaN,DM,AA,2.57,10.0,0.0,0.0,1.0,1.0,0.00,0.00,2.57,2.57,2.57,2.57,0.00,0.00
13,13,NaN,NaN,DM,NaN,0.61,20.0,0.0,0.0,1.0,0.0,0.00,0.00,0.61,0.00,0.61,0.61,0.00,0.61
14,14,NaN,NaN,NaN,AA,2.12,30.0,0.0,0.0,0.0,1.0,0.00,0.00,0.00,2.12,2.12,2.12,2.12,0.00
15,15,NaN,NaN,NaN,NaN,0.01,40.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01
16,16,MI,NaN,DM,AA,4.57,50.0,1.0,0.0,1.0,1.0,4.57,0.00,4.57,4.57,0.00,4.57,0.00,0.00

In [12]:
#Put data ouput into dataframe
df=pd.DataFrame(data)

#Show the dataframe
df

,Case Type,MI,CHF,DM,AA,LOS,N,MIDX,CHFDX,DMDX,AADX,losMIDX,losCHFDX,losDMDX,losAADX,losConMI,losConCHF,losConDM,losConAA
1,1,MI,CHF,DM,NaN,5.56,120.0,1.0,1.0,1.0,0.0,5.56,5.56,5.56,0.00,0.00,0.00,0.00,5.56
2,2,MI,NaN,NaN,AA,4.10,110.0,1.0,0.0,0.0,1.0,4.10,0.00,0.00,4.10,0.00,4.10,4.10,0.00
3,3,NaN,CHF,DM,AA,5.54,100.0,0.0,1.0,1.0,1.0,0.00,5.54,5.54,5.54,5.54,0.00,0.00,0.00
4,4,NaN,CHF,DM,NaN,3.56,90.0,0.0,1.0,1.0,0.0,0.00,3.56,3.56,0.00,3.56,0.00,0.00,3.56
5,5,MI,CHF,NaN,AA,7.03,80.0,1.0,1.0,0.0,1.0,7.03,7.03,0.00,7.03,0.00,0.00,7.03,0.00
6,6,MI,CHF,NaN,NaN,5.02,70.0,1.0,1.0,0.0,0.0,5.02,5.02,0.00,0.00,0.00,0.00,5.02,5.02
7,7,NaN,CHF,NaN,AA,5.04,60.0,0.0,1.0,0.0,1.0,0.00,5.04,0.00,5.04,5.04,0.00,5.04,0.00
8,8,MI,CHF,DM,AA,7.62,50.0,1.0,1.0,1.0,1.0,7.62,7.62,7.62,7.62,0.00,0.00,0.00,0.00
9,9,MI,NaN,NaN,NaN,2.03,40.0,1.0,0.0,0.0,0.0,2.03,0.00,0.00,0.00,0.00,2.03,2.03,2.03
10,10,NaN,CHF,NaN,NaN,3.03,30.0,0.0,1.0,0.0,0.0,0.00,3.03,0.00,0.00,3.03,0.00,3.03,3.03
11,11,MI,NaN,DM,NaN,2.60,20.0,1.0,0.0,1.0,0.0,2.60,0.00,2.60,0.00,0.00,2.60,0.00,2.60
12,12,NaN,NaN,DM,AA,2.57,10.0,0.0,0.0,1.0,1.0,0.00,0.00,2.57,2.57,2.57,2.57,0.00,0.00
13,13,NaN,NaN,DM,NaN,0.61,20.0,0.0,0.0,1.0,0.0,0.00,0.00,0.61,0.00,0.61,0.61,0.00,0.61
14,14,NaN,NaN,NaN,AA,2.12,30.0,0.0,0.0,0.0,1.0,0.00,0.00,0.00,2.12,2.12,2.12,2.12,0.00
15,15,NaN,NaN,NaN,NaN,0.01,40.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01
16,16,MI,NaN,DM,AA,4.57,50.0,1.0,0.0,1.0,1.0,4.57,0.00,4.57,4.57,0.00,4.57,0.00,0.00

In [13]:
#Calculate data values 
df['losMIDX'] = df['LOS']*df['MIDX']
df['losCHFDX'] = df['LOS']*df['CHFDX']
df['losDMDX'] = df['LOS']*df['DMDX']
df['losAADX'] = df['LOS']*df['AADX']

#Calculate Control values
df['losConMI']=(1-df['MIDX'])*df['LOS']
df['losConCHF']=(1-df['CHFDX'])*df['LOS']
df['losConDM']=(1-df['DMDX'])*df['LOS']
df['losConAA']=(1-df['AADX'])*df['LOS']

#Put data ouput into dataframe
df1 = pd.DataFrame(df)
df1

,Case Type,MI,CHF,DM,AA,LOS,N,MIDX,CHFDX,DMDX,AADX,losMIDX,losCHFDX,losDMDX,losAADX,losConMI,losConCHF,losConDM,losConAA
1,1,MI,CHF,DM,NaN,5.56,120.0,1.0,1.0,1.0,0.0,5.56,5.56,5.56,0.00,0.00,0.00,0.00,5.56
2,2,MI,NaN,NaN,AA,4.10,110.0,1.0,0.0,0.0,1.0,4.10,0.00,0.00,4.10,0.00,4.10,4.10,0.00
3,3,NaN,CHF,DM,AA,5.54,100.0,0.0,1.0,1.0,1.0,0.00,5.54,5.54,5.54,5.54,0.00,0.00,0.00
4,4,NaN,CHF,DM,NaN,3.56,90.0,0.0,1.0,1.0,0.0,0.00,3.56,3.56,0.00,3.56,0.00,0.00,3.56
5,5,MI,CHF,NaN,AA,7.03,80.0,1.0,1.0,0.0,1.0,7.03,7.03,0.00,7.03,0.00,0.00,7.03,0.00
6,6,MI,CHF,NaN,NaN,5.02,70.0,1.0,1.0,0.0,0.0,5.02,5.02,0.00,0.00,0.00,0.00,5.02,5.02
7,7,NaN,CHF,NaN,AA,5.04,60.0,0.0,1.0,0.0,1.0,0.00,5.04,0.00,5.04,5.04,0.00,5.04,0.00
8,8,MI,CHF,DM,AA,7.62,50.0,1.0,1.0,1.0,1.0,7.62,7.62,7.62,7.62,0.00,0.00,0.00,0.00
9,9,MI,NaN,NaN,NaN,2.03,40.0,1.0,0.0,0.0,0.0,2.03,0.00,0.00,0.00,0.00,2.03,2.03,2.03
10,10,NaN,CHF,NaN,NaN,3.03,30.0,0.0,1.0,0.0,0.0,0.00,3.03,0.00,0.00,3.03,0.00,3.03,3.03
11,11,MI,NaN,DM,NaN,2.60,20.0,1.0,0.0,1.0,0.0,2.60,0.00,2.60,0.00,0.00,2.60,0.00,2.60
12,12,NaN,NaN,DM,AA,2.57,10.0,0.0,0.0,1.0,1.0,0.00,0.00,2.57,2.57,2.57,2.57,0.00,0.00
13,13,NaN,NaN,DM,NaN,0.61,20.0,0.0,0.0,1.0,0.0,0.00,0.00,0.61,0.00,0.61,0.61,0.00,0.61
14,14,NaN,NaN,NaN,AA,2.12,30.0,0.0,0.0,0.0,1.0,0.00,0.00,0.00,2.12,2.12,2.12,2.12,0.00
15,15,NaN,NaN,NaN,NaN,0.01,40.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01
16,16,MI,NaN,DM,AA,4.57,50.0,1.0,0.0,1.0,1.0,4.57,0.00,4.57,4.57,0.00,4.57,0.00,0.00

In [14]:
#Calculate the data value
df1['data_MI']=(df1['losMIDX'].sum()/df1['MIDX'].sum()).round(decimals=2)
df1['data_CHF']=(df1['losCHFDX'].sum()/df1['CHFDX'].sum()).round(decimals=2)
df1['data_DM']=(df1['losDMDX'].sum()/df1['DMDX'].sum()).round(decimals=2)
df1['data_AA']=(df1['losAADX'].sum()/df1['AADX'].sum()).round(decimals=2)

#Calculate the controls value
df1['Con_MI']=(df1['losConMI'].sum()/(1-df1['MIDX']).sum()).round(decimals=2)
df1['Con_CHF']=(df1['losConCHF'].sum()/(1-df1['CHFDX']).sum()).round(decimals=2)
df1['Con_DM']=(df1['losConDM'].sum()/(1-df1['DMDX']).sum()).round(decimals=2)
df1['Con_AA']=(df1['losConAA'].sum()/(1-df1['AADX']).sum()).round(decimals=2)

#Put data output into DataFrame
df2=pd.DataFrame(df1)
df2

,Case Type,MI,CHF,DM,AA,LOS,N,MIDX,CHFDX,DMDX,...,losConDM,losConAA,data_MI,data_CHF,data_DM,data_AA,Con_MI,Con_CHF,Con_DM,Con_AA
1,1,MI,CHF,DM,NaN,5.56,120.0,1.0,1.0,1.0,...,0.00,5.56,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
2,2,MI,NaN,NaN,AA,4.10,110.0,1.0,0.0,0.0,...,4.10,0.00,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
3,3,NaN,CHF,DM,AA,5.54,100.0,0.0,1.0,1.0,...,0.00,0.00,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
4,4,NaN,CHF,DM,NaN,3.56,90.0,0.0,1.0,1.0,...,0.00,3.56,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
5,5,MI,CHF,NaN,AA,7.03,80.0,1.0,1.0,0.0,...,7.03,0.00,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
6,6,MI,CHF,NaN,NaN,5.02,70.0,1.0,1.0,0.0,...,5.02,5.02,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
7,7,NaN,CHF,NaN,AA,5.04,60.0,0.0,1.0,0.0,...,5.04,0.00,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
8,8,MI,CHF,DM,AA,7.62,50.0,1.0,1.0,1.0,...,0.00,0.00,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
9,9,MI,NaN,NaN,NaN,2.03,40.0,1.0,0.0,0.0,...,2.03,2.03,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
10,10,NaN,CHF,NaN,NaN,3.03,30.0,0.0,1.0,0.0,...,3.03,3.03,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
11,11,MI,NaN,DM,NaN,2.60,20.0,1.0,0.0,1.0,...,0.00,2.60,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
12,12,NaN,NaN,DM,AA,2.57,10.0,0.0,0.0,1.0,...,0.00,0.00,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
13,13,NaN,NaN,DM,NaN,0.61,20.0,0.0,0.0,1.0,...,0.00,0.61,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
14,14,NaN,NaN,NaN,AA,2.12,30.0,0.0,0.0,0.0,...,2.12,0.00,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
15,15,NaN,NaN,NaN,NaN,0.01,40.0,0.0,0.0,0.0,...,0.01,0.01,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8
16,16,MI,NaN,DM,AA,4.57,50.0,1.0,0.0,1.0,...,0.00,0.00,4.82,5.3,4.08,4.82,2.81,2.33,3.55,2.8

In [15]:
###To calculate the estimate
#Estimate = LOS for cases - LOS Control

#Calculate Estimate Values
df2['Est_MI']=df2['data_MI']-df2['Con_MI']
df2['Est_CHF']=df2['data_CHF']-df2['Con_CHF']
df2['Est_DM']=df2['data_DM']-df2['Con_DM']
df2['Est_AA']=df2['data_AA']-df2['Con_AA']

#Put data output into dataframe
df3 = pd.DataFrame(df2)
df3

,Case Type,MI,CHF,DM,AA,LOS,N,MIDX,CHFDX,DMDX,...,data_DM,data_AA,Con_MI,Con_CHF,Con_DM,Con_AA,Est_MI,Est_CHF,Est_DM,Est_AA
1,1,MI,CHF,DM,NaN,5.56,120.0,1.0,1.0,1.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
2,2,MI,NaN,NaN,AA,4.10,110.0,1.0,0.0,0.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
3,3,NaN,CHF,DM,AA,5.54,100.0,0.0,1.0,1.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
4,4,NaN,CHF,DM,NaN,3.56,90.0,0.0,1.0,1.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
5,5,MI,CHF,NaN,AA,7.03,80.0,1.0,1.0,0.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
6,6,MI,CHF,NaN,NaN,5.02,70.0,1.0,1.0,0.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
7,7,NaN,CHF,NaN,AA,5.04,60.0,0.0,1.0,0.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
8,8,MI,CHF,DM,AA,7.62,50.0,1.0,1.0,1.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
9,9,MI,NaN,NaN,NaN,2.03,40.0,1.0,0.0,0.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
10,10,NaN,CHF,NaN,NaN,3.03,30.0,0.0,1.0,0.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
11,11,MI,NaN,DM,NaN,2.60,20.0,1.0,0.0,1.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
12,12,NaN,NaN,DM,AA,2.57,10.0,0.0,0.0,1.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
13,13,NaN,NaN,DM,NaN,0.61,20.0,0.0,0.0,1.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
14,14,NaN,NaN,NaN,AA,2.12,30.0,0.0,0.0,0.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
15,15,NaN,NaN,NaN,NaN,0.01,40.0,0.0,0.0,0.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02
16,16,MI,NaN,DM,AA,4.57,50.0,1.0,0.0,1.0,...,4.08,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02

In [16]:
#The severity score is the sum of the diagnosis that are present.
#Caculate Severity
df3['Severity Score']=((df3['MIDX']*df3['Est_MI'])+(df3['CHFDX']*df3['Est_CHF']
                 +(df3['DMDX']*df3['Est_DM'])+(df3['AADX']*df3['Est_AA'])).round(decimals=2))

#Put data output into dataframe
df4 = pd.DataFrame(df3)
df4

,Case Type,MI,CHF,DM,AA,LOS,N,MIDX,CHFDX,DMDX,...,data_AA,Con_MI,Con_CHF,Con_DM,Con_AA,Est_MI,Est_CHF,Est_DM,Est_AA,Severity Score
1,1,MI,CHF,DM,NaN,5.56,120.0,1.0,1.0,1.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,5.51
2,2,MI,NaN,NaN,AA,4.10,110.0,1.0,0.0,0.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,4.03
3,3,NaN,CHF,DM,AA,5.54,100.0,0.0,1.0,1.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,5.52
4,4,NaN,CHF,DM,NaN,3.56,90.0,0.0,1.0,1.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,3.50
5,5,MI,CHF,NaN,AA,7.03,80.0,1.0,1.0,0.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,7.00
6,6,MI,CHF,NaN,NaN,5.02,70.0,1.0,1.0,0.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,4.98
7,7,NaN,CHF,NaN,AA,5.04,60.0,0.0,1.0,0.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,4.99
8,8,MI,CHF,DM,AA,7.62,50.0,1.0,1.0,1.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,7.53
9,9,MI,NaN,NaN,NaN,2.03,40.0,1.0,0.0,0.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.01
10,10,NaN,CHF,NaN,NaN,3.03,30.0,0.0,1.0,0.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.97
11,11,MI,NaN,DM,NaN,2.60,20.0,1.0,0.0,1.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.54
12,12,NaN,NaN,DM,AA,2.57,10.0,0.0,0.0,1.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.55
13,13,NaN,NaN,DM,NaN,0.61,20.0,0.0,0.0,1.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,0.53
14,14,NaN,NaN,NaN,AA,2.12,30.0,0.0,0.0,0.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.02
15,15,NaN,NaN,NaN,NaN,0.01,40.0,0.0,0.0,0.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,0.00
16,16,MI,NaN,DM,AA,4.57,50.0,1.0,0.0,1.0,...,4.82,2.81,2.33,3.55,2.8,2.01,2.97,0.53,2.02,4.56

# Conclusion

In [ ]:
################################
               MI   CHF    DM    AA
Data          4.82  5.30  4.08  4.82
Control       2.81  2.33  3.55  2.80
Estimate      2.01  2.97  0.53  2.02
################################
MI    CHF    DM    AA    Severity Score
1      1     1     1        5.51   
1      0     0     1        4.03
0      1     1     1        5.53
0      1     1     0        3.51
################################

In [17]:
## Weighted average length of stay = (Total Number of patients * Length of stay) / Total Number of patients
AvgLos = (data["LOS"]*data["N"]).sum()/data["N"].sum()
print(AvgLos)

4.504673913043478

The average length of stay = 4.50

In [18]:
data.replace(to_replace = ['MI','CHF','DM','AA'],
              value = ['1','1','1','1'],
              inplace = True)
data = data.fillna(0)
data["MI"]=data["MI"].astype(float)
data["CHF"]=data["CHF"].astype(float)
data["DM"]=data["DM"].astype(float)
data["AA"]=data["AA"].astype(float)

In [19]:
## Assign patients who have the average length of stay (LOS=1) and belowe average (LOS=0)
data['TempLong'] = np.where(data['LOS']>AvgLos,'1','0')
data["TempLong"] = data["TempLong"].astype(float)
data['TempShort'] = np.where(data['LOS']<=AvgLos,'1','0')
data["TempShort"] = data["TempShort"].astype(float)
data

,Case Type,MI,CHF,DM,AA,LOS,N,MIDX,CHFDX,DMDX,...,Con_CHF,Con_DM,Con_AA,Est_MI,Est_CHF,Est_DM,Est_AA,Severity Score,TempLong,TempShort
1,1,1.0,1.0,1.0,0.0,5.56,120.0,1.0,1.0,1.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,5.51,1.0,0.0
2,2,1.0,0.0,0.0,1.0,4.10,110.0,1.0,0.0,0.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,4.03,0.0,1.0
3,3,0.0,1.0,1.0,1.0,5.54,100.0,0.0,1.0,1.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,5.52,1.0,0.0
4,4,0.0,1.0,1.0,0.0,3.56,90.0,0.0,1.0,1.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,3.50,0.0,1.0
5,5,1.0,1.0,0.0,1.0,7.03,80.0,1.0,1.0,0.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,7.00,1.0,0.0
6,6,1.0,1.0,0.0,0.0,5.02,70.0,1.0,1.0,0.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,4.98,1.0,0.0
7,7,0.0,1.0,0.0,1.0,5.04,60.0,0.0,1.0,0.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,4.99,1.0,0.0
8,8,1.0,1.0,1.0,1.0,7.62,50.0,1.0,1.0,1.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,7.53,1.0,0.0
9,9,1.0,0.0,0.0,0.0,2.03,40.0,1.0,0.0,0.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.01,0.0,1.0
10,10,0.0,1.0,0.0,0.0,3.03,30.0,0.0,1.0,0.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.97,0.0,1.0
11,11,1.0,0.0,1.0,0.0,2.60,20.0,1.0,0.0,1.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.54,0.0,1.0
12,12,0.0,0.0,1.0,1.0,2.57,10.0,0.0,0.0,1.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.55,0.0,1.0
13,13,0.0,0.0,1.0,0.0,0.61,20.0,0.0,0.0,1.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,0.53,0.0,1.0
14,14,0.0,0.0,0.0,1.0,2.12,30.0,0.0,0.0,0.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,2.02,0.0,1.0
15,15,0.0,0.0,0.0,0.0,0.01,40.0,0.0,0.0,0.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,0.00,0.0,1.0
16,16,1.0,0.0,1.0,1.0,4.57,50.0,1.0,0.0,1.0,...,2.33,3.55,2.8,2.01,2.97,0.53,2.02,4.56,1.0,0.0

In [20]:
MILong=(data['MI']*data['N']*data["TempLong"]).sum()
print(MILong)
MIShort=(data['MI']*data['N']*data["TempShort"]).sum()
print(MIShort)
DMLong=(data['DM']*data['N']*data["TempLong"]).sum()
print(DMLong)
DMShort=(data['DM']*data['N']*data["TempShort"]).sum()
print(DMShort)
CHFLong=(data['CHF']*data['N']*data["TempLong"]).sum()
print(CHFLong)
CHFShort=(data['CHF']*data['N']*data["TempShort"]).sum()
print(CHFShort)
AALong=(data['AA']*data['N']*data["TempLong"]).sum()
print(AALong)
AAShort=(data['AA']*data['N']*data["TempShort"]).sum()
print(AAShort)

370.0
170.0
320.0
140.0
480.0
120.0
340.0
150.0

In [21]:
LongLOS=(data['N']*data["TempLong"]).sum()
print(LongLOS)
ShortLOS=(data['N']*data["TempShort"]).sum()
print(ShortLOS)

530.0
390.0

In [22]:
## MI Likelihood Ratio = (MI with long length of stay/long legth of stay)/(MI with short length of stay/short legth of stay)
MILIkelihoodRatio = [(MILong/LongLOS)/(MIShort/ShortLOS)]
print(MILIkelihoodRatio)

[1.6015538290788012]

In [23]:
## Calculate DM Likelihood Ratio
DMLIkelihoodRatio = [(DMLong/LongLOS)/(DMShort/ShortLOS)]
print(DMLIkelihoodRatio)

[1.6819407008086253]

In [24]:
## Calculate CHF Likelihood Ratio
CHFLIkelihoodRatio = [(CHFLong/LongLOS)/(CHFShort/ShortLOS)]
print(CHFLIkelihoodRatio)

[2.943396226415094]

In [25]:
## Calculate AA Likelihood Ratio
AALIkelihoodRatio = [(AALong/LongLOS)/(AAShort/ShortLOS)]
print(AALIkelihoodRatio)

[1.6679245283018866]

In [ ]:
##########
Patients who have MI are 1.60 more likely to stay longer at the hospital.
Patients who have DM are 1.68 more likely to stay longer at the hospital.
Patients who have CHF are 2.94 more likely to stay longer at the hospital.
Patients who have AA are 1.67 more likely to stay longer at the hospital.
##########

Calculate the probability of a patient will have a length of stay that exceeds the weighted average length of stay. Note that diagnoses codes that do not have an associated likelihood ratio should be assigned a likelihood ratio of 1 or ignored.

In [26]:
#Importing data file
data = pd.read_excel('MidtermQ4Data.xlsx')

In [27]:
data = pd.DataFrame(data, columns = ['ID', 'ICD9', 'LR'])
print(data)

    ID ICD9    LR
0    1   DM  1.68
1    1  CHF  2.94
2    1   MI  1.60
3    1  HIV  1.00
4    2   MI  1.60
5    2   AA  1.67
6    3  CHF  2.94
7    3   DM  1.68
8    3   AA  1.67
9    4  CHF  2.94
10   4   DM  1.68

In [28]:
#Filter for patient 1 data
pd=data[data['ID']==1]

In [29]:
#View patient1 data
print(pd)

   ID ICD9    LR
0   1   DM  1.68
1   1  CHF  2.94
2   1   MI  1.60
3   1  HIV  1.00

In [30]:
###Calculate probability of LR of long stay
#Take natural Log of LR
pd['log']=np.log(data['LR'])
pd

<ipython-input-30-213e6108578b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd['log']=np.log(data['LR'])

   ID ICD9    LR       log
0   1   DM  1.68  0.518794
1   1  CHF  2.94  1.078410
2   1   MI  1.60  0.470004
3   1  HIV  1.00  0.000000

In [31]:
#Find the sum of the log for patient 1
sumLogP1=pd['log'].sum()

#View result
print(sumLogP1)

2.0672070040114936

In [32]:
#Find the Odds for Patient 1
Odds=np.exp(sumLogP1)
print(Odds)

7.902720000000002

In [33]:
###Determine the Probability for Patient1 rounded to 2 decimal places
probability=(Odds/(1+Odds)).round(decimals=2)
print(probability)

0.89

# Conclusion

The probability of long stay for patient ID 1 with MI, DM, AA, and HIV is 0.89

# Question 5

Compare the performance of Medstar Washington to other DC based hospitals (excluding Medstar Georgetown) on overall satisfaction in Hospital Compare data using data from 2015 through today.  In your analysis, the observation line is based on Medstar DC data.  The control limits (that is the expected satisfaction and the standard deviation of the satisfaction rating) are based on the data of all other hospitals in DC besides  Medstar DC.  What advice you have for the hospital administrator on where improvements are needed.

In [ ]:
#Import Libraries
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [ ]:
#Read data fileshaving Measure start data starting on 2014 to represent the 5 time period
data_2015=pd.read_csv('HCAHPS_2015.csv',engine='python')
data_2016=pd.read_csv('HCAHPS_2016.csv',engine='python')
data_2017=pd.read_csv('HCAHPS_2017.csv',engine='python')
data_2018=pd.read_csv('HCAHPS_2018.csv',engine='python')
data_2019=pd.read_csv('HCAHPS_2019.csv',engine='python')
data_2020=pd.read_csv('HCAHPS_2020.csv',engine='python')

In [ ]:
#View data in dataframe for 2018
data_2018.head()

In [ ]:
#Display column names for each of the data frames.
#Notice that some crtical column names have changed for the 2018 dataset
print("\033[1m" +'2015 Data Types' + "\033[0m")
print(data_2015.columns)

print("\033[1m" +'2016 Data Types' + "\033[0m")
print(data_2016.columns)

print("\033[1m" +'2017 Data Types' + "\033[0m")
print(data_2017.columns)

print("\033[1m" +'2018 Data Types' + "\033[0m")
print(data_2018.columns)

print("\033[1m" +'2019 Data Types' + "\033[0m")
print(data_2019.columns)

print("\033[1m" +'2020 Data Types' + "\033[0m")
print(data_2020.columns)

In [ ]:
#Create seperate dataframes with limites number of selected columns for each time period
data_2015_filtered=pd.DataFrame(data_2015, columns=['Provider ID', 'Hospital Name', 'HCAHPS Measure ID', 
                                                   'HCAHPS Linear Mean Value', 'Measure Start Date', 'Measure End Date'])
data_2015_filtered=data_2015_filtered[data_2015_filtered['HCAHPS Measure ID'].isin(['H_COMP_6_LINEAR_SCORE'])]

data_2016_filtered=pd.DataFrame(data_2016, columns=['Provider ID', 'Hospital Name', 'HCAHPS Measure ID', 
                                                   'HCAHPS Linear Mean Value', 'Measure Start Date', 'Measure End Date'])
data_2016_filtered=data_2016_filtered[data_2016_filtered['HCAHPS Measure ID'].isin(['H_COMP_6_LINEAR_SCORE'])]

data_2017_filtered=pd.DataFrame(data_2017, columns=['Provider ID', 'Hospital Name', 'HCAHPS Measure ID', 
                                                   'HCAHPS Linear Mean Value', 'Measure Start Date', 'Measure End Date'])
data_2017_filtered=data_2017_filtered[data_2017_filtered['HCAHPS Measure ID'].isin(['H_COMP_6_LINEAR_SCORE'])]

data_2018_filtered=pd.DataFrame(data_2018, columns=['Provider ID', 'Hospital Name', 'HCAHPS Measure ID', 
                                                   'HCAHPS Linear Mean Value', 'Measure Start Date', 'Measure End Date'])
data_2018_filtered=data_2018_filtered[data_2018_filtered['HCAHPS Measure ID'].isin(['H_COMP_6_LINEAR_SCORE'])]

data_2019_filtered=pd.DataFrame(data_2019, columns=['Facility ID', 'Facility Name', 'HCAHPS Measure ID', 
                                                   'HCAHPS Linear Mean Value', 'Start Date', 'End Date'])
data_2019_filtered=data_2019_filtered[data_2019_filtered['HCAHPS Measure ID'].isin(['H_COMP_6_LINEAR_SCORE'])]

data_2020_filtered=pd.DataFrame(data_2020, columns=['Facility ID', 'Facility Name', 'HCAHPS Measure ID', 
                                                   'HCAHPS Linear Mean Value', 'Start Date', 'End Date'])
data_2020_filtered=data_2020_filtered[data_2020_filtered['HCAHPS Measure ID'].isin(['H_COMP_6_LINEAR_SCORE'])]

In [ ]:
#Check resulting dataframe for 2019
data_2019_filtered.head()

In [ ]:
print("\033[1m" +'2015 Data Types' + "\033[0m")
print(data_2015_filtered.dtypes)

print("\033[1m" +'2016 Data Types' + "\033[0m")
print(data_2016_filtered.dtypes)

print("\033[1m" +'2017 Data Types' + "\033[0m")
print(data_2017_filtered.dtypes)

print("\033[1m" +'2018 Data Types' + "\033[0m")
print(data_2018_filtered.dtypes)

print("\033[1m" +'2019 Data Types' + "\033[0m")
print(data_2019_filtered.dtypes)

print("\033[1m" +'2020 Data Types' + "\033[0m")
print(data_2020_filtered.dtypes)

In [ ]:
#Replace the "Not Available" entries with 0 and convert HCAHPS Linear Mean Value column to a float
data_2015_filtered ['HCAHPS Linear Mean Value'] = pd.to_numeric(data_2015_filtered['HCAHPS Linear Mean Value'], errors='coerce')
data_2015_filtered = data_2015_filtered.replace(np.nan,0,regex=True)

data_2016_filtered ['HCAHPS Linear Mean Value'] = pd.to_numeric(data_2016_filtered['HCAHPS Linear Mean Value'], errors='coerce')
data_2016_filtered = data_2016_filtered.replace(np.nan,0,regex=True)

data_2017_filtered ['HCAHPS Linear Mean Value'] = pd.to_numeric(data_2017_filtered['HCAHPS Linear Mean Value'], errors='coerce')
data_2017_filtered = data_2017_filtered.replace(np.nan,0,regex=True)

data_2018_filtered ['HCAHPS Linear Mean Value'] = pd.to_numeric(data_2018_filtered['HCAHPS Linear Mean Value'], errors='coerce')
data_2018_filtered = data_2018_filtered.replace(np.nan,0,regex=True)

data_2019_filtered ['HCAHPS Linear Mean Value'] = pd.to_numeric(data_2019_filtered['HCAHPS Linear Mean Value'], errors='coerce')
data_2019_filtered = data_2019_filtered.replace(np.nan,0,regex=True)

data_2020_filtered ['HCAHPS Linear Mean Value'] = pd.to_numeric(data_2020_filtered['HCAHPS Linear Mean Value'], errors='coerce')
data_2020_filtered = data_2020_filtered.replace(np.nan,0,regex=True)

In [ ]:
print("\033[1m" +'2015 HCAHP Mean Value Float type' + "\033[0m")
print(data_2015_filtered['HCAHPS Linear Mean Value'].head(10))

print("\033[1m" +'2016 HCAHP Mean Value Float type' + "\033[0m")
print(data_2016_filtered['HCAHPS Linear Mean Value'].head(10))

print("\033[1m" +'2017 HCAHP Mean Value Float type' + "\033[0m")
print(data_2017_filtered['HCAHPS Linear Mean Value'].head(10))

print("\033[1m" +'2018 HCAHP Mean Value Float type' + "\033[0m")
print(data_2018_filtered['HCAHPS Linear Mean Value'].head(10))

print("\033[1m" +'2019 HCAHP Mean Value Float type' + "\033[0m")
print(data_2019_filtered['HCAHPS Linear Mean Value'].head(10))

print("\033[1m" +'2020 HCAHP Mean Value Float type' + "\033[0m")
print(data_2020_filtered['HCAHPS Linear Mean Value'].head(10))

In [ ]:
data_2018_filtered.head()

In [ ]:
pids = ['SIBLEY MEMORIAL HOSPITAL', 'GEORGE WASHINGTON NUIV HOSPITAL', 'HOWARD UNIVERSITY HOSPITAL', 
        'PROVIDENCE HOSPITAL', 'UNITED MEDICAL CENTER', 
        'MEDSTAR WASHINGTON HOSPITAL CENTER', 'CHILDREN''S HOSPITAL NMC']

In [ ]:
data_2015_filtered2 = pd.DataFrame(data_2015_filtered[(data_2015_filtered['Hospital Name'].isin(pids))])
print("\033[1m" +'2015 Filtered Dataset' + "\033[0m")
print(data_2015_filtered2.head(3))

data_2016_filtered2 = pd.DataFrame(data_2016_filtered[(data_2016_filtered['Hospital Name'].isin(pids))])
print("\033[1m" +'2016 Filtered Dataset' + "\033[0m")
print(data_2016_filtered2.head(3))

data_2017_filtered2 = pd.DataFrame(data_2017_filtered[(data_2017_filtered['Hospital Name'].isin(pids))])
print("\033[1m" +'2017 Filtered Dataset' + "\033[0m")
print(data_2017_filtered2.head(3))

data_2018_filtered2 = pd.DataFrame(data_2018_filtered[(data_2018_filtered['Hospital Name'].isin(pids))])
print("\033[1m" +'2018 Filtered Dataset' + "\033[0m")
print(data_2018_filtered2.head(3))

data_2019_filtered2 = pd.DataFrame(data_2019_filtered[(data_2019_filtered['Facility Name'].isin(pids))])
print("\033[1m" +'2019 Filtered Dataset' + "\033[0m")
print(data_2019_filtered2.head(3))

data_2020_filtered2 = pd.DataFrame(data_2020_filtered[(data_2020_filtered['Facility Name'].isin(pids))])
print("\033[1m" +'2020 Filtered Dataset' + "\033[0m")
print(data_2020_filtered2.head(3))

In [ ]:
#Number of rows and columns from filtered dataframes
print(data_2015_filtered2.shape)
print(data_2016_filtered2.shape)
print(data_2017_filtered2.shape)
print(data_2018_filtered2.shape)
print(data_2019_filtered2.shape)
print(data_2020_filtered2.shape)

In [ ]:
#Calculate average satisfation at Medstar Hospital across all 6 time periods
hosp = ['MEDSTAR WASHINGTON HOSPITAL CENTER']

data_2015_m = pd.DataFrame(data_2015_filtered2[(data_2015_filtered2['Hospital Name'].isin(hosp))])
avgsatis_m_2015 = data_2015_m['HCAHPS Linear Mean Value'].mean()

data_2016_m = pd.DataFrame(data_2016_filtered2[(data_2016_filtered2['Hospital Name'].isin(hosp))])
avgsatis_m_2016 = data_2016_m['HCAHPS Linear Mean Value'].mean()

data_2017_m = pd.DataFrame(data_2017_filtered2[(data_2017_filtered2['Hospital Name'].isin(hosp))])
avgsatis_m_2017 = data_2017_m['HCAHPS Linear Mean Value'].mean()

data_2018_m = pd.DataFrame(data_2018_filtered2[(data_2018_filtered2['Hospital Name'].isin(hosp))])
avgsatis_m_2018 = data_2018_m['HCAHPS Linear Mean Value'].mean()

data_2019_m = pd.DataFrame(data_2019_filtered2[(data_2019_filtered2['Facility Name'].isin(hosp))])
avgsatis_m_2019 = data_2019_m['HCAHPS Linear Mean Value'].mean()

data_2020_m = pd.DataFrame(data_2020_filtered2[(data_2020_filtered2['Facility Name'].isin(hosp))])
avgsatis_m_2020 = data_2020_m['HCAHPS Linear Mean Value'].mean()

print(avgsatis_m_2015)
print(avgsatis_m_2016)
print(avgsatis_m_2017)
print(avgsatis_m_2018)
print(avgsatis_m_2019)
print(avgsatis_m_2020)

In [ ]:
#Calculate average satisfaction across all other DC hospitals for the 6 time periods
#data_2015_filtered2['avg_statisfaction_2015']=data_2015_filtered2['HCAHPS Linear Mean Value'].mean()

data_2015_dc = pd.DataFrame(data_2015_filtered2[(data_2015_filtered2['Hospital Name'] != 'MEDSTAR WASHINGTON HOSPITAL CENTER')])
avgsatis_dc_2015 = data_2015_dc['HCAHPS Linear Mean Value'].mean()

data_2016_dc = pd.DataFrame(data_2016_filtered2[(data_2016_filtered2['Hospital Name'] != 'MEDSTAR WASHINGTON HOSPITAL CENTER')])
avgsatis_dc_2016 = data_2016_dc['HCAHPS Linear Mean Value'].mean()

data_2017_dc = pd.DataFrame(data_2017_filtered2[(data_2017_filtered2['Hospital Name'] != 'MEDSTAR WASHINGTON HOSPITAL CENTER')])
avgsatis_dc_2017 = data_2017_dc['HCAHPS Linear Mean Value'].mean()

data_2018_dc = pd.DataFrame(data_2018_filtered2[(data_2018_filtered2['Hospital Name'] != 'MEDSTAR WASHINGTON HOSPITAL CENTER')])
avgsatis_dc_2018 = data_2018_dc['HCAHPS Linear Mean Value'].mean()

data_2019_dc = pd.DataFrame(data_2019_filtered2[(data_2019_filtered2['Facility Name'] != 'MEDSTAR WASHINGTON HOSPITAL CENTER')])
avgsatis_dc_2019 = data_2019_dc['HCAHPS Linear Mean Value'].mean()

data_2020_dc = pd.DataFrame(data_2020_filtered2[(data_2020_filtered2['Facility Name'] != 'MEDSTAR WASHINGTON HOSPITAL CENTER')])
avgsatis_dc_2020 = data_2020_dc['HCAHPS Linear Mean Value'].mean()

print(avgsatis_dc_2015)
print(avgsatis_dc_2016)
print(avgsatis_dc_2017)
print(avgsatis_dc_2018)
print(avgsatis_dc_2019)
print(avgsatis_dc_2020)

In [ ]:
#Create a data frame containing dc from all 6 years in order to deterime grand average

df_all = [data_2015_filtered2['HCAHPS Linear Mean Value'],data_2016_filtered2['HCAHPS Linear Mean Value'],
          data_2017_filtered2['HCAHPS Linear Mean Value'],data_2018_filtered2['HCAHPS Linear Mean Value'],
          data_2019_filtered2['HCAHPS Linear Mean Value'],data_2020_filtered2['HCAHPS Linear Mean Value']]

headers = ['AllSatis2015', 'AllSatis2016', 'AllSatis2017', 'AllSatis2018','AllSatis2019','AllSatis2020']

df1_all=pd.concat(df_all, axis=1,keys=headers)
df1_all.head()

In [ ]:
#Grand Average
avgall=df1_all.stack().mean()
avgall

In [ ]:
#Standard Deviation for all data across the 6 years
stdall=df1_all.stack().std()
stdall

In [ ]:
#Create a data frame containing DC satisfaction data from all 6 years
df=[data_2015_dc['HCAHPS Linear Mean Value'],data_2016_dc['HCAHPS Linear Mean Value'],
    data_2017_dc['HCAHPS Linear Mean Value'],data_2018_dc['HCAHPS Linear Mean Value'],
    data_2019_dc['HCAHPS Linear Mean Value'],data_2020_dc['HCAHPS Linear Mean Value']]

headers = ['Satis2015', 'Satis2016', 'Satis2017', 'Satis2018','Satis2019', 'Satis2020']

df1=pd.concat(df, axis=1,keys=headers)
df1.head()

In [ ]:
#Check for Normal Distribution
df_checknorm = data_2015_filtered2['HCAHPS Linear Mean Value']
df_checknorm2 = df_checknorm.append(data_2016_filtered2['HCAHPS Linear Mean Value'])
df_checknorm3 = df_checknorm2.append(data_2017_filtered2['HCAHPS Linear Mean Value'])
df_checknorm4 = df_checknorm3.append(data_2018_filtered2['HCAHPS Linear Mean Value'])
df_checknorm5 = df_checknorm4.append(data_2019_filtered2['HCAHPS Linear Mean Value'])
df_checknorm6 = df_checknorm4.append(data_2020_filtered2['HCAHPS Linear Mean Value'])
df_checknorm6

df_checknorm7=pd.DataFrame(df_checknorm6)
df_checknorm7[['HCAHPS Linear Mean Value']].plot.hist()

In [ ]:
#Average per time period
avg2015 = df1['Satis2015'].mean()
avg2016 = df1['Satis2016'].mean()
avg2017 = df1['Satis2017'].mean()
avg2018 = df1['Satis2018'].mean()
avg2019 = df1['Satis2019'].mean()
avg2020 = df1['Satis2020'].mean()

print(avg2015)
print(avg2016)
print(avg2017)
print(avg2018)
print(avg2019)
print(avg2020)

In [ ]:
#Find Count of hospitals in each year
n_2015=int(df1['Satis2015'].count())
n_2016=int(df1['Satis2016'].count())
n_2017=int(df1['Satis2017'].count())
n_2018=int(df1['Satis2018'].count())
n_2019=int(df1['Satis2019'].count())
n_2020=int(df1['Satis2020'].count())

print(n_2015)
print(n_2016)
print(n_2017)
print(n_2018)
print(n_2019)
print(n_2020)

In [ ]:
#Standard Deviation of each timeperiod
std2015 = stdall/(math.sqrt(n_2015))
std2016 = stdall/(math.sqrt(n_2016))
std2017 = stdall/(math.sqrt(n_2017))
std2018 = stdall/(math.sqrt(n_2018))
std2019 = stdall/(math.sqrt(n_2019))
std2020 = stdall/(math.sqrt(n_2020))

print(std2015)
print(std2016)
print(std2017)
print(std2018)
print(std2019)
print(std2020)

In [ ]:
zstat = 1.96

In [ ]:
#Create dataframe holding values that will support the calculation of UCL and LCL
df2 = [['2015',avgsatis_m_2015,avg2015,std2015,avgall,zstat],
       ['2016',avgsatis_m_2016,avg2016,std2016,avgall,zstat],
       ['2017',avgsatis_m_2017,avg2017,std2017,avgall,zstat],
       ['2018',avgsatis_m_2018,avg2018,std2018,avgall,zstat],
       ['2019',avgsatis_m_2019,avg2019,std2019,avgall,zstat],
       ['2020',avgsatis_m_2020,avg2020,std2020,avgall,zstat],]
df2

In [ ]:
#add column names to the df3 dataframe
df3 = pd.DataFrame(df2,columns = ['Year', 'Medstar Washington', 'Avg Satisfaction DC Hosp', 
                                  'StdPerTime', 'Avg Satisfaction All', 'zstat'])
df3

In [ ]:
#Calculate the UCL and LCL columns
df3['UCL for DC Hospitals']=df3['Avg Satisfaction All']+df3['zstat']*df3['StdPerTime']
df3['LCL for DC Hospitals']=df3['Avg Satisfaction All']-df3['zstat']*df3['StdPerTime']
df3

In [ ]:
#Create the xbar chart
plt.plot('Year','Medstar Washington',data=df3,marker = 's', markerfacecolor = 'blue',
         linewidth =1, color = 'blue')

plt.plot('Year','UCL for DC Hospitals', data=df3, markersize = 0, color = 'red', linewidth=1)
plt.plot('Year','LCL for DC Hospitals', data=df3, markersize = 0, color = 'red', linewidth=1)
plt.legend()
plt.title('Medstar Washington VS DC Competitors - Patient Satisfaction Rating')
plt.xlabel('Reporting Year')
plt.ylabel('Satisfaction Rating')